@model Core.AddMessageParameters

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Отправка сообщений</title>
</head>
<body>
<div>
    <form asp-controller="Home" asp-action="AddMessage" method="post">
        <input asp-for="MessageText" />
        <button type="submit">Отправить</button>
    </form>
</div>
</body>
</html>