@model Core.AddMessageParameters

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Отправка сообщений</title>
    <link rel="stylesheet" asp-href-include="/lib/twitter-bootstrap/css/*.css" />
</head>
<body>
    <form asp-controller="Home" asp-action="AddMessage" method="post" class="m-1 p-1">
        <input asp-for="MessageText" />
        <button type="submit">Отправить</button>
    </form>
</body>
</html>